@media screen and (max-width: 1200px) {
    .header ul a {
        margin-right: 20px;
    }
    .login {
        margin-left: 10x;
    }
    .works_flex {
        flex-direction: column;
    }
    .works-p {
        margin-top: 40px;
    }
    .imem__grid {
        grid-template-columns: repeat(1, 1fr);
        align-items: center;

    }
    .item1 {
        
        margin: 100px auto 0;
    }
    .item2 {
        margin-top: 80px;
        margin: 0 auto;
    }
    .item3 {
        margin-top: 80px;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .video__flex {
        flex-direction: column;
        align-items: center;
        
    }
    .video-img {
        margin-top: 30px;
    }
    .video {
        padding: 20px 0 20px;
    }
    .video-h2 {
        margin-top: 0px;
    }
    .button3 {
        display: block;
        margin: 0 auto;
    }
    .product__flex{
        flex-direction: column;
        align-items: center;
    }
    .product__left {
        padding-left: 20px;
        margin-bottom: 100px;
    }
    .photo {
        width: 100%;
    }
}
@media screen and (max-width: 900px) {
    .menu {
        flex-direction: column;
        align-items: center;
    }
    .header h1 {
        font-size: 50px;
        margin-top: 80px;
    }
    .header ul a {
        margin: 10px 0;
    }
    .works h2 {
        font-size: 35px;
    }
    .video-h2 {
        font-size: 40px;
    }
    .card {
        top: 250px;
        left: 0;
    }
    .product__flex {
        padding: 20px 0 20px;
    }
    .product_h2 {
        font-size: 35px; 
    }
    .product__right {
        margin: 0;
    }
}
@media screen and (max-width: 500px) {
    ul {
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
    .login {
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
    .button1 {
        margin: 0;
    }
    .item-img {
        width: 100%;
    }
    .card {
        
        top: 350px;
    }
    .product-p {
        margin-top: 380px;
    }
    .product__left {
        padding: 0;
        
    }
}
